<h1>Miam-Miam</h1>
<%@restaurants.each do |restaurant|%>
<p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<%end%>

<%= link_to 'add a new restaurant', new_restaurant_path, class: "btn btn-primary"%></p>
